[Unit]
Description=Setup TwinaOS Kiosk Environment
Before=twina-kiosk.service

[Service]
Type=oneshot
ExecStart=/bin/mkdir -p /run/user/1000
ExecStart=/bin/chown user:user /run/user/1000
ExecStart=/bin/loginctl enable-linger user
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
